<header class="header">
  <div class="header-container">
    <!-- 左端：アプリタイトル -->
    <div class="header-left">
      <%= link_to "アプリ名", root_path, class: "app-title" %>
    </div>
    
    <!-- 右端：投稿ボタン -->
    <div class="header-right">
      <%= link_to "+書く", "***", class: "btn-write" %>
    </div>
  </div>
</header>