<%= turbo_frame_tag "modal_content" do %>
    <!-- 編集用のモーダル画面ヘッダー部分 -->
    <div class="text-left mb-8">
        <span class="inline-block text-xs border border-[#9b5134] text-[#9b5134] px-3 py-1 font-bold mb-4 transform -rotate-3 origin-center select-none">
            思い出を編集する
        </span>
        <h2 class="text-xl font-bold text-[#2c1d11]">
            あの時食べたアレ、もう一度思い出す？
        </h2>
    </div>
    <%= link_to "戻る", post_path(@post), class: "text-xs text-[#8e7e75] hover:underline pt-2 pr-2" %>
    <!-- 投稿入力（新規・編集共通）フォームのジャーナルを読み込み -->
    <%= render "form", post: @post %>
<% end %>