<!--コピーライト-->
<div class="px-10 md:px-20 lg:px-40">
  <div class="pb-10">
    <p class="text-[#BC6C43] text-xs md:text-sm tracking-widest mb-2 md:mb-4 font-medium">あの味、あの場所、あのひと</p>
    <h1 class="text-[#2A1A0A] text-3xl md:text-5xl font-bold leading-tight mb-2 md:mb-4 tracking-tight">思い出の味を、<br>言葉で残す場所。</h1>
    <p class="text-[#5C5346] text-sm md:text-base md:leading-normal tracking-tight space-y-2">レシピよりも、エピソードを大切に。<br>料理にまつわる記憶と、そこにいた人たちを記録しよう</p>
  </div>
  
  <!-- 投稿一覧 -->
  <div class="pt-5 border-t border-gray-500/25">
    <!-- カードの配置 -->
    <div id="posts" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 pb-3 ">
      <%= render @posts %>
    </div>
  </div>
</div>